In [86]:
# basic imports
import numpy as np
import pandas as pd

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# for data visualization  for EDA
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('diabetes.csv')

In [3]:
#snapshot of data
data.head()
#data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#show information of the data set - column names and types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
# loop through the columns and check the missing values
for col in data.columns:
    missing_data = data[col].isnull().mean()
    print(f'{col} - {missing_data: .1%}')

Pregnancies -  0.0%
Glucose -  0.0%
BloodPressure -  0.0%
SkinThickness -  0.0%
Insulin -  0.0%
BMI -  0.0%
DiabetesPedigreeFunction -  0.0%
Age -  0.0%
Outcome -  0.0%

In [6]:
#summary statistics of the data - round the figures to 2 decimal places 
data.describe().applymap('{:,.2f}'.format)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00
mean,3.85,120.89,69.11,20.54,79.80,31.99,0.47,33.24,0.35
std,3.37,31.97,19.36,15.95,115.24,7.88,0.33,11.76,0.48
min,0.00,0.00,0.00,0.00,0.00,0.00,0.08,21.00,0.00
25%,1.00,99.00,62.00,0.00,0.00,27.30,0.24,24.00,0.00
50%,3.00,117.00,72.00,23.00,30.50,32.00,0.37,29.00,0.00
75%,6.00,140.25,80.00,32.00,127.25,36.60,0.63,41.00,1.00
max,17.00,199.00,122.00,99.00,846.00,67.10,2.42,81.00,1.00

In [19]:
# Data exploration to answer the question raised

In [74]:
# 1.How many females from the data have no records of pregnancy?
# In the pregnancies column, a value of zero indicates no pregnancy 
print(data['Pregnancies'].eq(0).sum())
#111 females from the records show no pregnancy

111

In [75]:
#2. What is the average blood pressure for the records that have never been pregnant ?
zero_pregnancy = data[['Pregnancies','BloodPressure']][(data["Pregnancies"] == 0)]
zero_pregnancy

     Pregnancies  BloodPressure
4              0             40
16             0             84
45             0             66
57             0             88
58             0             82
..           ...            ...
713            0             58
727            0             84
736            0             86
753            0             88
757            0             72

[111 rows x 2 columns]

In [76]:
#Average blood pressure for females with no pregnancy recorded
print(zero_pregnancy['BloodPressure'].mean().round(2))

67.15

In [77]:
#3. What is the average blood pressure for the records that have 1 or more pregancies ?
yes_pregnancy = data[['Pregnancies','BloodPressure']][(data["Pregnancies"] > 0)]
yes_pregnancy

     Pregnancies  BloodPressure
0              6             72
1              1             66
2              8             64
3              1             66
5              5             74
..           ...            ...
763           10             76
764            2             70
765            5             72
766            1             60
767            1             70

[657 rows x 2 columns]

In [78]:
#Average blood pressure for females with one or more pregnancy recorded  is 69.44
print(yes_pregnancy['BloodPressure'].mean().round(2))

69.44

In [79]:
#4. What is the average Glucose level  for the records that have 1 or more pregancies ?
glucose_pregnancy = data[['Pregnancies','Glucose']][(data["Pregnancies"] > 0)]
glucose_pregnancy

     Pregnancies  Glucose
0              6      148
1              1       85
2              8      183
3              1       89
5              5      116
..           ...      ...
763           10      101
764            2      122
765            5      121
766            1      126
767            1       93

[657 rows x 2 columns]

In [83]:
#Average glucose level for females with one or more pregnancy recorded  is 120.54
print(glucose_pregnancy['Glucose'].mean().round(2))

120.54