In [1]:
# basic imports
import numpy as np
import pandas as pd

# for data visualization  for EDA
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('diabetes.csv')

In [3]:
#snapshot of data
data.head()
#data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#show information of the data set - column names and types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
# loop through the columns and check the missing values
for col in data.columns:
    missing_data = data[col].isnull().mean()
    print(f'{col} - {missing_data: .1%}')

Pregnancies -  0.0%
Glucose -  0.0%
BloodPressure -  0.0%
SkinThickness -  0.0%
Insulin -  0.0%
BMI -  0.0%
DiabetesPedigreeFunction -  0.0%
Age -  0.0%
Outcome -  0.0%

In [6]:
#summary statistics of the data - round the figures to 2 decimal places 
data.describe().applymap('{:,.2f}'.format)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00
mean,3.85,120.89,69.11,20.54,79.80,31.99,0.47,33.24,0.35
std,3.37,31.97,19.36,15.95,115.24,7.88,0.33,11.76,0.48
min,0.00,0.00,0.00,0.00,0.00,0.00,0.08,21.00,0.00
25%,1.00,99.00,62.00,0.00,0.00,27.30,0.24,24.00,0.00
50%,3.00,117.00,72.00,23.00,30.50,32.00,0.37,29.00,0.00
75%,6.00,140.25,80.00,32.00,127.25,36.60,0.63,41.00,1.00
max,17.00,199.00,122.00,99.00,846.00,67.10,2.42,81.00,1.00

In [19]:
# Data exploration to answer the question raised

In [71]:
# 1.How many females from the data have no records of pregnancy?
# In the pregnancies column, a value of zero indicates no pregnancy 
print(data['Pregnancies'].eq(0).sum())
#111 females from the records show no pregnancy

111

In [72]:
#2.Out of the females that shows no pregnancies, how many tested positive for diabetes?
#38 females have who have records of no pregancies tested positive for diabetes.
print ((data[['Pregnancies','Outcome']][(data["Pregnancies"] == 0) & (data["Outcome"] == 1)]).count())

Pregnancies    38
Outcome        38
dtype: int64

Pregnancies      38
Outcome          38
BloodPressure    38
dtype: int64

In [67]:
#2. What is the average blood pressure for the profile that have never been pregnant but tested positive?
zero_pregnancy = data[['Pregnancies','Outcome','BloodPressure']][(data["Pregnancies"] == 0) & (data["Outcome"] == 1)]
zero_pregnancy

     Pregnancies  Outcome  BloodPressure
4              0        1             40
16             0        1             84
45             0        1             66
66             0        1             88
78             0        1              0
109            0        1             85
120            0        1             76
124            0        1             76
129            0        1             84
164            0        1             88
177            0        1            110
213            0        1             65
220            0        1             60
237            0        1             90
266            0        1              0
280            0        1             70
291            0        1             62
300            0        1              0
308            0        1             68
322            0        1             70
397            0        1             66
414            0        1             60
435            0        1              0
440            0        1            104
445            0        1             78
448            0        1             64
484            0        1              0
485            0        1             68
506            0        1             90
561            0        1             66
569            0        1             66
580            0        1             90
595            0        1             82
619            0        1              0
647            0        1             50
681            0        1             76
753            0        1             88
757            0        1             72

In [68]:
#Average blood pressure for Females with no pregnancy history who do not have diabetes is 63.11
print(zero_pregnancy['BloodPressure'].mean().round(2))

63.21